body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:406px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u121 {
  position:absolute;
  left:106px;
  top:52px;
  width:300px;
  height:25px;
}
#u121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u122 {
  position:absolute;
  left:106px;
  top:116px;
  width:300px;
  height:25px;
}
#u122_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u123 {
  position:absolute;
  left:106px;
  top:205px;
  width:300px;
  height:25px;
}
#u123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u124 {
  position:absolute;
  left:60px;
  top:15px;
  width:300px;
  height:30px;
}
#u124_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:306px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:35px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u127 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u128 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u129 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u130 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u131 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
